:root{
    --black: #000000;
    --orange: #Fe5c00;
    --dark-gray: #797978;
    --light-grey: #90979b;
    --white: #edece6;
}

h1{
    background-color: #Fe5c00;
    text-align: center;
    font-size: 150%;
}

h2{
    font-size: 125%;
}

.theme {
    --bg: var(--black);
    --fontColor: var(--orange);
    --boxbg:var(--orange);
    --fancrc:var(--dark-gray);
    --fantxt:var(--black);
    --itembg:var(--black);
    --itemtxt:var(--light-grey);
    --itemact:var(--dark-gray);
    --btntxt:var(--white);
}

.gridlayout{ 
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(300px,1fr));
    margin: auto;
    gap: 1rem;
    max-width: 1500px;
}

body{
    background-color: var(--bg);
}

.fangrid{
    min-width: 300px;
    min-height: 300px;
    max-width: 2fr;
    max-height: 2fr;
    grid-area: span 2 / span 2 / span 2 / span 2;
    display: grid;
    grid-template-columns: repeat(4, minmax(75px,1fr));
    grid-template-rows: repeat(4, minmax(75px, 1fr));
    background-color: var(--boxbg);
    aspect-ratio: 1;
    gap: 1rem;
    padding: 1rem;
}

.fan{
    grid-area: span 1 / span 1 / span 1 / span 1;
    background-color: var(--fancrc);
    border-radius: 50%;
    text-align: center;

}

.allfaninput{
    border-radius: 25px;
    border: 2px solid var(--itemact);
    padding: auto;
    width: 100px;
    height: 50px;
}

.faninput{
    border-radius: 25px;
    border: 2px solid var(--itemact);
    padding: 5%;
    width: 50px;
    height: 40px;
}

.fileinput{
    border-radius: 25px;
    border: 2px solid var(--itemact);
    padding: auto;
    width: 100px;
    height: 50px;
}

.allfans{
    grid-area: span 1 / span 1 / span 1 / span 1;
    min-width: 300px;
    min-height: 300px;
    max-width: 1fr;
    max-height: 1fr;
    grid-template-columns: repeat(2,minmax(150px,1fr));
    background-color: var(--boxbg);
    padding: 5%;
    text-align: center;

}

.actuator{
    grid-area: span 1 / span 1 / span 1 / span 1;
    min-width: 300px;
    min-height: 300px;
    max-width: 1fr;
    max-height: 1fr;
    background-color: var(--boxbg);
    padding: 5%;
    
}

.filesettings{
    grid-area: span 1 / span 1 / span 2 / span 2;
    background-color: var(--boxbg);
    padding: 5%;
    min-width: 300px;
    min-height: 300px;
    max-width: 1fr;
    max-height: 2fr;
}

.run{
    grid-area: span 1 / span 1 / span 2 / span 2;

    grid-template-columns: repeat(2,minmax(150px,1fr));
    grid-template-rows: repeat(3, minmax(100,1fr));
    background-color: var(--boxbg);
    text-align: center;
    padding: 5%;
    min-width: 300px;
    min-height: 300px;
    max-width: 1fr;
    max-height: 2fr;
}



.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: var(--itembg);
    outline: none;
}

.slider:hover {
    opacity:1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--itemact);
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border: 0;
    border-radius: 50%;
    background: var(--itemact);
}

.radiobtn{
    accent-color: var(--bg);
}

.toggle {
    --width: 100px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    border-radius: var(--height);
}

.toggle input {
    display: none;
}

.toggle .switch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: var(--itemact);
}

.toggle .switch::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: var(--itemact);
}

.toggle input:checked+.switch {
    background-color: var(--itembg);
}

.toggle input:checked+.switch::before {
    transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 5px;
    color: var(--itembg);
    opacity: 0;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 5px;
    color: var(--itembg);
    opacity: 1;
}

.toggle input:checked~.labels::after {
    opacity: 1;
}

.toggle input:checked~.labels::before {
    opacity: 0;
}

.button {
    display: inline-block;
    border-radius: 5%;
    background-color: var(--bg);
    color: var(--btntxt);
    text-align: center;
    font-size: 85%;
    padding: 3%;
    width: 45%;
    cursor: pointer;
    margin: 1%;
  }

  input.right{
    float:right;
    width: 200px;
    height: 50px;
  }
