* {
    box-sizing: border-box;
  }
  .item-a {
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
  }
  body {
    margin: 0;
  }
  .data-table{
    width: 800px;
    padding: 2px;
  }

  .table-cell{
    width: 500px;
    height: 100px;
  }
  #ivk4g{
    justify-content:space-between;
  }
  #tableAdiv{
    flex-grow:0.96;
    justify-content:flex-end;
    display:inline-flex;
  }
  #tableAid{
    margin:0 0 0 0;
    width: 500px;
  }
  #emergencyStop{
    width:250px;
    height:100px;
    background-color:#ff0000;
  }
  #test{
    width:250px;
    height:100px;
    background-color:#FF7300;
  }
  .switch input{
    opacity:0;
    width:0;
    height:0;
  }

  button.sliderA{
    width: 200px;
    height: 50px;
  }
  input:checked + .slider{
    background-color:#FF7300;
  }
  input:focus + .slider{
    box-shadow:0 0 1px #FF7300;
  }
  input:checked + .slider:before{
    -webkit-transform:translateX(26px);
    -ms-transform:translateX(26px);
    transform:translateX(26px);
  }
  #silderA{
    width:90%;
    display:inline-block;
  }
  #sliderB{
    width:90%;
  }
  input.right{
    float:right;
    width: 200px;
    height: 50px;
  }
  @keyframes fadeEffect{
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
  }
  
