<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPDRAFT INTERFACE</title>
        <link rel="stylesheet" href="static/test.css">
    </head>
    <body class="theme">
        <h1>UPDRAFT TEST UI</h1>
        <div class="gridlayout">
            <form class="fangrid" method="post" action="/" id="gridform">
                <div class="fan">
                    <p>Fan 1</p>
                    <input class="faninput"  type="text" name = "fan1" value = "" placeholder="Speed" id="fan1">
                    <p>{{data['fan1'][1]}}</p>
                </div>
                <div class="fan">
                    <p>Fan 2</p>
                    <input class="faninput"  type="text" name = "fan2" value = "" placeholder="speed">
                    <p>{{data['fan2'][1]}}</p>
                </div>
                <div class="fan">
                    <p>Fan 3</p>
                    <input class="faninput"  type="text" name = "fan3" value = "" placeholder="speed">
                    <p>{{data['fan3'][1]}}</p>
                </div>
                <div class="fan">
                    <p>Fan 4</p>
                    <input class="faninput"  type="text" name = "fan4" value = "" placeholder="speed">
                    <p>{{data['fan4'][1]}}</p>
                </div>
                <div class="fan">
                    <p>Fan 5</p>
                    <input class="faninput"  type="text" name = "fan5" value = "" placeholder="speed">
                    <p>{{data['fan5'][1]}}</p>
                </div>
                <div class="fan">
                    <p>Fan 6</p>
                    <input class="faninput"  type="text" name = "fan6" value = "" placeholder="speed">
                    <p>{{data['fan6'][1]}}</p>
                </div>
                <div class="fan">
                    <p>Fan 7</p>
                    <input class="faninput"  type="text" name = "fan7" value = "" placeholder="speed">
                    <p>{{data['fan7'][1]}}</p>
                </div>
                <div class="fan">
                    <p>Fan 8</p>
                    <input class="faninput"  type="text" name = "fan8" value = "" placeholder="speed">
                    <p>{{data['fan8'][1]}}</p>
                </div>
                <div class="fan">
                    <p>Fan 9</p>
                    <input class="faninput"  type="text" name = "fan9" value = "" placeholder="speed">
                    <p>{{data['fan9'][1]}}</p>
                </div>
                <div class="fan">
                    <p>Fan 10</p>
                    <input class="faninput"  type="text" name = "fan10" value = "" placeholder="speed">
                    <p>{{data['fan10'][1]}}</p>
                </div>
                <div class="fan">
                    <p>Fan 11</p>
                    <input class="faninput"  type="text" name = "fan11" value = "" placeholder="speed">
                    <p>{{data['fan11'][1]}}</p>
                </div>
                <div class="fan">
                    <p>Fan 12</p>
                    <input class="faninput"  type="text" name = "fan12" value = "" placeholder="speed">
                    <p>{{data['fan12'][1]}}</p>
                </div>
                <div class="fan">
                    <p>Fan 13</p>
                    <input class="faninput"  type="text" name = "fan13" value = "" placeholder="speed">
                    <p>{{data['fan13'][1]}}</p>
                </div>
                <div class="fan">
                    <p>Fan 14</p>
                    <input class="faninput"  type="text" name = "fan14" value = "" placeholder="speed">
                    <p>{{data['fan14'][1]}}</p>
                </div>
                <div class="fan">
                    <p>Fan 15</p>
                    <input class="faninput"  type="text" name = "fan15" value = "" placeholder="speed">
                    <p>{{data['fan15'][1]}}</p>
                </div>
                <div class="fan">
                    <p>Fan 16</p>
                    <input class="faninput"  type="text" name = "fan16" value = "" placeholder="speed">
                    <p>{{data['fan16'][1]}}</p>
                </div>
            </form>


            <div class="allfans">
                <h1>All Fans </h1>
                <form method="post" action="/" id="allfanform">
                    <p><input class="allfaninput" type="text" name = "ALLFANS" value = "" placeholder="speed"></p>
                    <p><input class="button" type = "submit" value="UPDATE ALL FANS" name="updatefan" form="allfanform"/></p>
                </form>
                <p><input class="button" type = "submit" value="UPDATE FANS" name="updatefan" form="gridform" /></p>
            </div>

            <div class="actuator">
                <form method="post" action="/" id="actuatorform">
                    <h1>Actuator Control</h1>
                    <div class="direction">
                        <h2>Direction : {{data['actuator'][0]}}</h2>
                        <input class="radiobtn" type="radio" name="DIRECTION" value="F2B" id="f2b">
                        <label for="f2b">F2B</label>
                        <input class="radiobtn" type="radio" name="DIRECTION" value="S2S" id="s2s">
                        <label for="s2s">S2S</label>
                    </div>

                    <div class="angle">
                        <h2>Current Angle : {{data['actuator'][1]}}</h2>
                        <h2>New Angle : <span id="dispangle"></span></h2>
                        <input class="slider" type="range" min="-30" max="30" name = "ANGLE" value = "" id="angle">
                        <label for="angle"></label>
                        <input class="button" type = "submit" value = "UPDATE ANGLE" name = "updateactuator" id="actuatorform">
                        <script>
                            var slider = document.getElementById("angle");
                            var output = document.getElementById("dispangle");
                            output.innerHTML = slider.value;
                            slider.oninput = function() {output.innerHTML = this.value;}
                        </script>
                    </div>
                </form>
            </div>

            <div class="filesettings">
                <h1>Settings Files</h1>
                <form method="post" action="/" id="filesaveform">
                    <h2>Save Setting to File</h2>
                    <p>Save <input class = "fileinput" input type="text" name = "filename" value = "" placeholder="file"></p>
                    <input class="button" type = "submit" value = "SAVE CONFIG" name="savefile" sid="filesaveform">
                </form>

                <form method="post" action="/" id="fileloadform">
                    <h2>Load Setting form File</h2>
                    <p>Load <input class = "fileinput" input type="text" name = "filename" value = "" placeholder="file"></p>
                    <input class="button" type = "submit" value = "LOAD CONFIG" name = "savefile" id="fileloadform">
                </form>
            </div>

            <div class="run">
                <h1>UPDATE</h1>
                <form method="post" action="/">
                    <div>
                        <h2>FANS</h2>
                        <input class="button" button type = "submit" value = "SET FANS" name = "toros">
                        <input class="button" button type = "submit" value = "STOP FANS" name = "toros">
                    </div>
                    <div>
                        <h2>ACTUATORS</h2>
                        <input class="button" button type = "submit" value = "SET ANGLE" name = "toros">
                        <input class="button" button type = "submit" value = "STOP ANGLE" name = "toros">
                     </div>
                     <div>
                        <h2>BOTH</h2>
                        <input class="button" button type = "submit" value = "SET ALL" name = "toros">
                        <input class="button" button type = "submit" value = "STOP ALL" name = "toros">
                     </div>
                </form>
            </div>
        </div>
    </body>
</html>
