<style>
    @import url(website.css);
    </style>
      <div data-js="data-table" id="tableAid" class="data-table p-3 table-responsive">
          <div id="tableAdiv">
          </div>
        <table id="if82i" class="table table-striped table-bordered table-resizable">
          <th colspan="12">  Indoor Quadcopter Navigational Testbed</th>
          <form action="" method="post" class="item-a">
          <div class="item-a">
          </div>
          <tbody id="izdm9">
            <tr id="iyozf">
              <td id="ikj7g2">
                <div id="iqhpmg" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan1" class="input form-control"/>
                </div>
              </td>
              <td id="i3maoh">
                <div id="ihn349" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan2" class="input form-control"/>
                </div>
              </td>
              <td>
                <div id="ileckx" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan3" class="input form-control"/>
                </div>
              </td>
              <td>
                <div id="ijgrxh" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan4" class="input form-control"/>
                </div>
              </td>
            </tr>
            <tr>
              <td id="i43e0l">
                <div id="igaw6g" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan5" class="input form-control"/>
                </div>
              </td>
              <td>
                <div id="i8mxz9" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan6" class="input form-control"/>
                </div>
              </td>
              <td>
                <div id="iewr0z" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan7" class="input form-control"/>
                </div>
              </td>
              <td>
                <div id="ia1vq1" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan8" class="input form-control"/>
                </div>
              </td>
            </tr>
            <tr>
              <td id="ich1qw">
                <div id="iiy8jb" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan9" class="input form-control"/>
                </div>
              </td>
              <td>
                <div id="ixi10u" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan10" class="input form-control"/>
                </div>
              </td>
              <td>
                <div id="igg56t" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan11" class="input form-control"/>
                </div>
              </td>
              <td>
                <div id="idppdt" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan12" class="input form-control"/>
                </div>
              </td>
            </tr>
            <tr>
              <td id="i8hxxs">
                <div id="imupej" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan13" class="input form-control"/>
                </div>
              </td>
              <td>
                <div id="i17btj" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan14" class="input form-control"/>
                </div>
              </td>
              <td>
                <div id="iilx9z" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan15" class="input form-control"/>
                </div>
              </td>
              <td>
                <div id="iia0ck" class="form-group">
                  <input type="text" name="name" value="" placeholder="fan16" class="input form-control"/>
          </div>
        </div>
              </td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>
        <!-- <button role="button" type="reset" id="Reset" class="btn btn-sm btn-primary dc-button dc-btn--blue mb-2 mr-0">Reset</button>
           
           <button role="button" type="submit" id="Submit" class="btn btn-sm btn-primary dc-button dc-btn--blue mb-2 mr-0">Submit</button> -->
           <label for="fans">All fans (0-100):</label>

<input type="number" id="fans" name="fans"
       min="0" max="100">
           <input type="submit" value="Submit">
             
    </div>
  </div>
          <button role="button" type="reset" id="emergencyStop" class="emergencyStop">Emergency Stop</button>
          <button role="button" type="submit" id="test" class="test">Update</button>
        </div>
      </div>
    </form>
    


    <form action="" method="post" class="form-example">
      <div id="iyxxm">
        <p1>UP AND DOWN</p1>
        <fieldset class="range__field">
          <input style = "accent-color: #FF7300"input type="range" min="0" max="30" id="silderA" class="range"/>
          <svg role="presentation" width="300%" height="10">
            <rect x="0%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="1%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="2%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="3%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="4%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="5%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="6%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="7%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="8%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="9%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="10%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="11%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="12%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="13%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="14%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="15%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="16%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="17%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="18%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="19%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="20%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="21%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="22%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="23%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="24%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="25%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="26%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="27%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="28%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="29%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="30%" y="3" width="1" height="10" class="range__tick">
            </rect>
          </svg>
          <svg role="presentation" width="300%" height="14" id="ipcp4e">
            <text x="0%" y="14" text-anchor="start" class="range__point">0
            </text>
            <text x="1%" y="14" text-anchor="middle" class="range__point">1
            </text>
            <text x="2%" y="14" text-anchor="middle" class="range__point">2
            </text>
            <text x="3%" y="14" text-anchor="middle" class="range__point">3
            </text>
            <text x="4%" y="14" text-anchor="middle" class="range__point">4
            </text>
            <text x="5%" y="14" text-anchor="middle" class="range__point">5
            </text>
            <text x="6%" y="14" text-anchor="middle" class="range__point">6
            </text>
            <text x="7%" y="14" text-anchor="middle" class="range__point">7
            </text>
            <text x="8%" y="14" text-anchor="middle" class="range__point">8
            </text>
            <text x="9%" y="14" text-anchor="middle" class="range__point">9
            </text>
            <text x="10%" y="14" text-anchor="middle" class="range__point">10
            </text>
            <text x="11%" y="14" text-anchor="middle" class="range__point">11
            </text>
            <text x="12%" y="14" text-anchor="middle" class="range__point">12
            </text>
            <text x="13%" y="14" text-anchor="middle" class="range__point">13
            </text>
            <text x="14%" y="14" text-anchor="middle" class="range__point">14
            </text>
            <text x="15%" y="14" text-anchor="middle" class="range__point">15
            </text>
            <text x="16%" y="14" text-anchor="middle" class="range__point">16
            </text>
            <text x="17%" y="14" text-anchor="middle" class="range__point">17
            </text>
            <text x="18%" y="14" text-anchor="middle" class="range__point">18
            </text>
            <text x="19%" y="14" text-anchor="middle" class="range__point">19
            </text>
            <text x="20%" y="14" text-anchor="middle" class="range__point">20
            </text>
            <text x="21%" y="14" text-anchor="middle" class="range__point">21
            </text>
            <text x="22%" y="14" text-anchor="middle" class="range__point">22
            </text>
            <text x="23%" y="14" text-anchor="middle" class="range__point">23
            </text>
            <text x="24%" y="14" text-anchor="middle" class="range__point">24
            </text>
            <text x="25%" y="14" text-anchor="middle" class="range__point">25
            </text>
            <text x="26%" y="14" text-anchor="middle" class="range__point">26
            </text>
            <text x="27%" y="14" text-anchor="middle" class="range__point">27
            </text>
            <text x="28%" y="14" text-anchor="middle" class="range__point">28
            </text>
            <text x="29%" y="14" text-anchor="middle" class="range__point">29
            </text>
            <text x="30%" y="14" text-anchor="end" class="range__point">30
            </text>
          </svg>
        </fieldset>
      </div>
      <div id="ixar0b">
        <p1>SIDE TO SIDE</p1>
        <fieldset class="range__field">
          <input style = "accent-color: #FF7300"  disabled type="range" min="0" max="30" class="range" id="sliderB"/>
          <svg role="presentation" width="300%" height="10">
            <rect x="0%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="1%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="2%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="3%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="4%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="5%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="6%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="7%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="8%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="9%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="10%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="11%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="12%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="13%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="14%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="15%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="16%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="17%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="18%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="19%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="20%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="21%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="22%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="23%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="24%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="25%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="26%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="27%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="28%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="29%" y="3" width="1" height="10" class="range__tick">
            </rect>
            <rect x="30%" y="3" width="1" height="10" class="range__tick">
            </rect>
          </svg>
          <svg role="presentation" width="300%" height="14">
            <text x="0%" y="14" text-anchor="start" class="range__point">0
            </text>
            <text x="1%" y="14" text-anchor="middle" class="range__point">1
            </text>
            <text x="2%" y="14" text-anchor="middle" class="range__point">2
            </text>
            <text x="3%" y="14" text-anchor="middle" class="range__point">3
            </text>
            <text x="4%" y="14" text-anchor="middle" class="range__point">4
            </text>
            <text x="5%" y="14" text-anchor="middle" class="range__point">5
            </text>
            <text x="6%" y="14" text-anchor="middle" class="range__point">6
            </text>
            <text x="7%" y="14" text-anchor="middle" class="range__point">7
            </text>
            <text x="8%" y="14" text-anchor="middle" class="range__point">8
            </text>
            <text x="9%" y="14" text-anchor="middle" class="range__point">9
            </text>
            <text x="10%" y="14" text-anchor="middle" class="range__point">10
            </text>
            <text x="11%" y="14" text-anchor="middle" class="range__point">11
            </text>
            <text x="12%" y="14" text-anchor="middle" class="range__point">12
            </text>
            <text x="13%" y="14" text-anchor="middle" class="range__point">13
            </text>
            <text x="14%" y="14" text-anchor="middle" class="range__point">14
            </text>
            <text x="15%" y="14" text-anchor="middle" class="range__point">15
            </text>
            <text x="16%" y="14" text-anchor="middle" class="range__point">16
            </text>
            <text x="17%" y="14" text-anchor="middle" class="range__point">17
            </text>
            <text x="18%" y="14" text-anchor="middle" class="range__point">18
            </text>
            <text x="19%" y="14" text-anchor="middle" class="range__point">19
            </text>
            <text x="20%" y="14" text-anchor="middle" class="range__point">20
            </text>
            <text x="21%" y="14" text-anchor="middle" class="range__point">21
            </text>
            <text x="22%" y="14" text-anchor="middle" class="range__point">22
            </text>
            <text x="23%" y="14" text-anchor="middle" class="range__point">23
            </text>
            <text x="24%" y="14" text-anchor="middle" class="range__point">24
            </text>
            <text x="25%" y="14" text-anchor="middle" class="range__point">25
            </text>
            <text x="26%" y="14" text-anchor="middle" class="range__point">26
            </text>
            <text x="27%" y="14" text-anchor="middle" class="range__point">27
            </text>
            <text x="28%" y="14" text-anchor="middle" class="range__point">28
            </text>
            <text x="29%" y="14" text-anchor="middle" class="range__point">29
            </text>
            <text x="30%" y="14" text-anchor="end" class="range__point">30
            </text>
          </svg>
        </fieldset>
      </div>

      <button onclick="enableBtnA(); return false" class = "sliderA">Enable SliderA Control</button>
      <button onclick="enableBtnB(); return false" class = "sliderA">Enable SliderB Control</button>

      <script>
      function enableBtnA() {
          document.getElementById("sliderB").disabled = true;
          document.getElementById("silderA").disabled = false;
      }
      function enableBtnB() {
          document.getElementById("silderA").disabled = true;
          document.getElementById("sliderB").disabled = false;
      }
      </script>
      <input type="submit" value="Update" class="right">

    </div>
    <div id="inqfay">
      <div class="slidecontainer">
      </div>
    </div>
    <div id="ixh87">
    </div>
  </div>
  <div id="im37fd">
  </div>
</form>
<form method="post" action="/">
  <p>Save Setting to File</p>
  <p>Save <input type="text" name = "filename" value = "" placeholder="Enter desierd speed"></p>
  <p><input type = "submit" value="SAVE CONFIG" name="savefile"/></p>
</form>

<form method="post" action="/">
  <p>Load Setting form File</p>
  <p>Load <input type="text" name = "filename" value = "" placeholder="Enter desierd speed"></p>
  <p><input type = "submit" value="LOAD CONFIG" name="loadfile"/></p>
</form>
